[2019-11-26 12:07] wtfisthatzzz opened #4 "AGP-3.4.1"
Unable to load class 'com.android.build.gradle.internal.tasks.BundleTask'.

[2019-11-26 12:09] wtfisthatzzz commented on #4
AS版本3.5.2，gradle插件版本3.4.1

[2019-11-26 12:27] wtfisthatzzz commented on #4
把sample的gradle插件版本修改为3.4.1也是报这个错

[2019-11-26 12:34] JingYeoh commented on #4
@liuke2016 抱歉，AabResGuard 当是是基于 3.2.1 进行研发的，3.4.1 版本把 `com.android.build.gradle.internal.tasks.BundleTask` 改名为了 `'com.android.build.gradle.internal.tasks.PackageBundleTask'` 。

我会尽快进行兼容。

[2019-11-26 12:58] JingYeoh commented on #4
@liuke2016 感谢反馈，问题已修复，请使用 `0.1.1` 版本进行重新尝试。

[2019-11-26 13:19] #4 closed, assigned to JingYeoh

[2019-12-04 12:14] hydraulic opened #8 "能不能把disable-sign的flag打开"

[2019-12-12 06:37] JingYeoh commented on #8
@hydraulic  可以具体描述下 `disable-sign` 的含义吗？如果不指定签名会使用默认的 Android 签名来对 aab 进行签名。

[2020-01-04 01:00] eakteam opened #13 "Android Studio 4.0.0 Canary 7 - Gradle V. 6.1-RC1"
[code]

[2020-01-06 03:27] qinkaiabc commented on #13
`Unable to find method 'com.android.build.gradle.AppPlugin.getVariantManager()Lcom/android/build/gradle/internal/VariantManager;'.
Possible causes for this unexpected error include:
Gradle's dependency cache may be corrupt (this sometimes occurs after a network connection timeout.)
Re-download dependencies and sync project (requires network)

The state of a Gradle build process (daemon) may be cor

[2020-01-06 09:59] JingYeoh commented on #13
@eakteam @qinkaiabc thanks for your report, `AGP-4.0.0-alpha07` moved all methods from `com.android.application` into `com.android.internal.application` .

we will support `gradle:4.0.0-alpha07` ASAP.

[2020-01-06 10:03] eakteam commented on #13
@JingYeoh , thanks for your fast response. Great job. Please let me know when it will be available if you can...

[2020-01-07 12:51] JingYeoh commented on #13
@eakteam @qinkaiabc  This bug has been fixed, please use `0.1.2` version

[2020-01-08 00:00] eakteam commented on #13
I am getting this warning after trying out this version :

[code]

[2020-01-08 00:35] eakteam commented on #13
Also i'm getting another error :

[code]

[2020-01-08 03:48] JingYeoh commented on #13
@eakteam Please show me the AGP and Gradle version of your project.

[2020-01-08 09:46] JingYeoh commented on #13
@eakteam  Please ignore this warning, **AabResGuard** read the resolved configuration to get AGP version to compatible different AGP.

[2020-01-08 09:48] eakteam commented on #13
@JingYeoh , ok for the first one... But what about the error in the above comment?

[2020-01-08 09:49] JingYeoh commented on #13
@eakteam please show me the AGP(com.android.tools.build:gradle:) version of your project.

[2020-01-08 09:58] eakteam commented on #13
@JingYeoh , `classpath 'com.android.tools.build:gradle:4.0.0-alpha08'`

[2020-01-09 02:56] JingYeoh commented on #13
@eakteam Sorry, I  build passed with `4.0.0-alpha0` and `Gradle-6.1-rc-1`. can you clone the demo repo with `bugfix/agp/352` branch and try again?

[2020-01-09 03:19] eakteam commented on #13
@JingYeoh thanks for the response but for the moment i'm unable to make this test currently.
Will wait for next release to see if it is fixed after importing through gradle ...

[2020-01-09 06:42] eakteam commented on #13
@JingYeoh , latest version 1.0.3 is still fails...
Here is the stacktrace :

[code]

[code]

[2020-01-09 06:48] JingYeoh commented on #13
@eakteam Please show me the aabResGuard gradle configuration and mapping for your project.

[code]

It seems your mapping file can not be parsed.

[2020-01-09 06:49] eakteam commented on #13
It seems that the crash is coming from this configuration line :

`mappingFile = file("C:\\User\\app\\build\\outputs\\mapping\\release\\mapping.txt").toPath()`

Please note that this mapping file referenced here is generated from R8 before aabresguard start its work....

[2020-01-09 06:57] JingYeoh commented on #13
@eakteam AabResGuard mapping is used for incremental obfuscation, it's generated by AabResGuard. In first time, you can ignore this field, it's optional.

And after the AabResGuard task is executed, you can find it in your bundle output-dir.

[2020-01-09 07:02] eakteam commented on #13
@JingYeoh, so you are saying that in the first time release using this plugin we can ignore `mappingFile ` and later we can enable it ?

I don't understand it correctly sorry, and documentation is not very clearly how we can use incremental obfuscation

Anyway thanks for the great work, it is working after removing mapping file line

[2020-01-09 07:49] eakteam opened #16 "Automatically keep mandatory resources"
We have to explictly add to white list those lines or the app will crash
Maybe there are more mandatory fields but for the moment app crash is solved by adding only those

`whiteList = ["*.R.string.com.crashlytics.android.build_id", "*.R.string.google_app_id"]`

[2020-01-09 08:04] eakteam commented on #16
Those are automatically generated by Google Services :

[code]

and this is generated by crashlytics :

`<string tools:ignore="UnusedResources,TypographyDashes" name="com.crashlytics.android.build_id" translatable="false">example</string>`

It is better to automatically include in whitelist...

[2020-01-10 07:17] xyz-fly opened #17 "Plugin usage: mapping"
按照wiki说明配置gradle后，执行构建bundle后报错，提示D:\app\mapping.txt' was not found.

[2020-01-10 07:24] JingYeoh commented on #17
@xyz-fly mapping 是用于增量编译的，AabResGuard task 执行完后会生成，第一次构建时可以不用设置mapping 属性，或者新建一个空的 mapping.txt 文件。

[2020-01-10 07:30] #17 closed, assigned to nobody

[2020-01-10 09:35] JingYeoh commented on #16
@eakteam I don't think this is a desirable feature in the AabResGuard, there are too many SDK in android, I can create a resources whitelist template file for the usual SDK and show the file in the wiki.

[2020-01-10 09:52] WiiliamChik opened #18 "kotlin版本太低导致用不了"
信息如下，望解决，十分感谢哈

The Android Gradle plugin supports only Kotlin Gradle plugin version 1.3.10 and higher.
The following dependencies do not satisfy the required version:
root project 'color_app' -> com.bytedance.android:aabresguard-plugin:0.1.3 -> org.jetbrains.kotlin:kotlin-gradle-plugin:1.3.0

[2020-01-10 10:02] xyz-fly opened #19 "说明文档中，过滤掉/arm64-v8a/，导致googleplayer审核不过"
默认配置说明中这段：

    filterList = [ // file filter rules
        "*/arm64-v8a/*",
        "META-INF/*"
    ]

这段应该把   "*/arm64-v8a/*", 去掉，否则会导致生成aab无法在 google player 审核通过 ---- 原因是缺少对64位支持

[2020-01-10 10:15] JingYeoh commented on #19
@xyz-fly `filterList ` 是给特殊场景使用的，建议上传 GP 的包使用 `enableFilterFiles=false` 配置。

**特殊场景：** 比如某些渠道需要通过 aab 生成全量 apk 包给用户测试，但是同时包含 32/64 位的 so 会导致 apk 太大，所以可以使用该配置，过滤 64 位 so 只生成 32 位 apk。

AabResGuard  在 `core` 中也提供了相应功能支持的类，如果需要定制 `gradle task` 对 aab 进行修改的话，也可以通过引入 `aabresguard-core` 来快速达到目标。

[2020-01-10 10:51] JingYeoh commented on #18
@WiiliamChik 请给出 `AGP(com.android.tools.build:gradle:)` 和 `Gradle` 版本。

或者请尝试一下在根目录 `build.gradle` 文件中，`aabresguard` 在 `kotlin plugin` 之前引入。

[code]

[2020-01-10 10:53] #19 closed, assigned to nobody

[2020-01-10 10:58] WiiliamChik commented on #18
@JingYeoh
classpath 'com.android.tools.build:gradle:3.5.3'
distributionUrl=https\://services.gradle.org/distributions/gradle-5.4.1-all.zip

[2020-01-10 11:05] JingYeoh commented on #18
@WiiliamChik
请在工程中引入 `kotlin-plugin 1.3.10` 版本

[code]

[2020-01-10 15:47] trycatchx opened #20 "how to remove mapping.txt from .aab/bundle"
如何移除 aab 中的 mapping.txt ，并不想把映射关系提供出去。是否可行？或者有所影响？如何实施。

[2020-01-13 06:41] JingYeoh commented on #20
@zhangchaojiong 你是指 `BUNDLE_METADATA/{package}/proguard.map` 文件？这个文件应该是用于 `Google play crash stack traces` 的。

具体可参考：[Deobfuscate crash stack traces
](https://support.google.com/googleplay/android-developer/answer/6295281?hl=en)

[2020-01-13 07:34] JingYeoh commented on #16
Welcome PR your configs which is not included in [WHITELIST](https://github.com/bytedance/AabResGuard/blob/develop/wiki/en/WHITELIST.md).

[2020-01-13 07:34] #16 closed, assigned to nobody

[2020-01-13 07:41] JingYeoh commented on #20
@zhangchaojiong 如果仍需要过滤该文件的话，请使用`aabresguard-plugin:0.1.4:`及以上版本，并使用如下配置：

[code]

[2020-01-13 07:58] trycatchx commented on #20
@JingYeoh 如果不把 `proguard.map` 加入白名单中（`filterList `），这个文件（`proguard.map`）内容也会被混淆，也会被影响到 bug 的追踪吧。我的问题清楚了，谢谢@JingYeoh

[2020-01-13 07:58] #20 closed, assigned to JingYeoh

[2020-01-13 08:02] JingYeoh commented on #20
@zhangchaojiong 资源混淆只影响资源目录下的文件，即 `*/res/*` ，其他目录下的文件不会受到影响。

[2020-01-13 08:16] trycatchx commented on #20
@JingYeoh 那加入下面这个白名单的意义是？不打包到bundle 里面去？
[code]

[2020-01-13 08:22] JingYeoh commented on #20
@zhangchaojiong 这不是白名单，这是需要过滤的文件，详情请参考 [Wiki](https://github.com/bytedance/AabResGuard/blob/develop/wiki/zh-cn/README.md#gradle-plugin)

当`enableFilterFiles =true`时，在最终生成的混淆包中过滤掉符合`filterList` 规则的文件。

[2020-01-13 08:32] trycatchx commented on #20
嗯嗯，那我知道了。符合 `whiteList `规则的文件是不参与混淆，符合 `filterList`  规则的文件不打包进 `.aab`。

[2020-01-13 23:27] eakteam commented on #16
Thanks, i have already added one more mandatory string resource

[2020-01-18 11:32] qinkaiabc commented on #13
更新这么快，果断弃用AndResGuard，改用这个

[2020-01-22 05:11] eakteam opened #25 "Android Studio 4.0 Canary 9 -> Build Failed"
It was working fine in Android Studio 4.0 Canary 8, today i update it to Canary 9 and it failds

classpath 'com.android.tools.build:gradle:4.0.0-alpha09'
classpath "com.bytedance.android:aabresguard-plugin:0.1.4"

Execution failed for task ':app:aabresguardRelease'.

STACKTRACE:

[code]

[2020-01-23 23:47] eakteam commented on #25
All next versions of AS and AGP will continue like this one, so i think is very important to change the method logic of this part to full support following releases.

**Also there are some more things to be refactored :**

[code]

**Thanks for the great lib !**

[2020-01-24 21:46] eakteam commented on #25
I dig a little on this agp version and seems that they are migrating everything to Kotlin DSL, so there are no classes anymore to parse the signing config with current logic of this lib.

Sure that we can write another logic to use in right way, but i think it would be better for this lib not to be depends on gradle signing config, but to manually set the file url and other stuff somewhere, and re

[2020-02-24 07:21] JingYeoh commented on #25
@eakteam sorry for reply so late, It's a good idea, I will check the latest AGP and decide whether to use a custom signing config.

Thanks for your issue.

[2020-02-24 07:23] eakteam commented on #25
Thanks for supporting the lib ! I will wait for the new version

[2020-03-01 15:28] qinkaiabc commented on #13
Execution failed for task ':app:aabresguardRelease'.

Android Studio 4.0 Beta1

classpath 'com.android.tools.build:gradle:4.0.0-beta01'
distributionUrl=https\://services.gradle.org/distributions/gradle-6.1.1-all.zip

[2020-03-23 23:14] eakteam opened #28 "Not working/compatible with Android Studio 4.1"
[code]

i think the problem is at  AabResguardPlugin.kt :

[code]

[2020-03-26 07:50] MrUncleX opened #29 "混淆功能开关"
resources-mapping
res entries path mapping
这两部分有混淆开关吗 不混淆该如何配置呢

[2020-03-29 08:29] JingYeoh commented on #29
@MrUncleX 抱歉，暂时没有针对混淆单独设置开关，之后会添加上这个功能

[2020-03-30 01:16] MrUncleX commented on #29
还有个问题想请教下 我使用proguard打算混淆activity或者自定义view
bundletool能修改androidManifest和相关xml吗
您是怎么学习并使用bundletool的呢 目前没找到bundletool相关文档

[2020-03-31 09:01] MrUncleX commented on #29
您好 请教个问题 假如我使用了proguard混淆了自定义view bundletool有什么方式可以去修改相应xml内容吗
感谢您的回复

[2020-04-01 10:55] JingYeoh commented on #29
@MrUncleX 自定义 view 不可以混淆，这不属于资源混淆的一部分，更加偏向代码混淆，bundletool 本身不处理这块的逻辑。

[2020-04-11 11:45] eakteam commented on #28
Any news ? It is useless with AS 4.1

[2020-04-13 08:15] JingYeoh commented on #25
@eakteam Sorry for so late, this bug has been fixed in `0.1.5`, please use this version and try again.

[2020-04-13 08:16] JingYeoh commented on #28
@eakteam Please tell me the AGP version.

[2020-04-13 08:17] JingYeoh commented on #29
@MrUncleX 0.1.5 版本添加了混淆开关，请使用 0.1.5 版本，并在 aabresguard plugin 中使用 `enableObfuscate` 参数来控制是否需要混淆

[2020-04-13 22:07] eakteam commented on #28
@JingYeoh , AGP version is : classpath ("com.android.tools.build:gradle:4.1.0-alpha05")

Also, i have just tried version 0.1.5 and still doesn't works.

Please, if you can give an ETA it would be awesome. Thanks for the great work as always !

[2020-04-21 13:33] JingYeoh commented on #28
@eakteam I'sorry,  `AGP-4.1.0-*`  changed a lot of Gradle API, and it's still in `alpha` version, I need some time to adapt.

[2020-04-21 13:39] eakteam commented on #28
@JingYeoh , i understand. Will wait for it, its great library, worth it.

Thanks

[2020-05-08 12:58] salmonocean opened #32 "约束布局中使用constraint_referenced_ids，里面的id 被混淆，导致布局错误，这个可以自动识别到，不混淆这类id ，或者同时将混淆的结果同步到constraint_referenced_ids 字段里"

[2020-05-09 03:05] trycatchx opened #33 "firebase 埋点无法使用了"
使用如下配置，firebase 埋点功能无法使用。可能混淆了`com.google.gms.google-services` 插件生成的某些文件。
[code]

[2020-05-09 06:46] trycatchx commented on #16
那请问这个已经默认列入白名单了？还是要手动？

[2020-05-09 06:48] JingYeoh commented on #16
@zhangchaojiong `AabResGuard` 内部不提供默认白名单，所有的白名单都需要手动配置。

[2020-05-09 06:51] trycatchx commented on #16
@JingYeoh 好的

[2020-05-09 06:51] trycatchx commented on #33
问题和 [issue](https://github.com/bytedance/AabResGuard/issues/16#issue-547308830) 相同，已解决

[2020-05-09 06:51] #33 closed, assigned to JingYeoh

[2020-06-07 08:09] #29 closed, assigned to JingYeoh

[2020-06-07 08:10] #18 closed, assigned to nobody

[2020-07-06 23:24] eakteam commented on #28
Hi... Do you have any news about supporting latest Gradle Plugin ?

[2020-08-15 19:16] sebthom commented on #28
@JingYeoh Thanks for this awesome tool. I am also very interested in seeing compatibility restored with latest Android Studio.

[2020-08-31 16:25] eakteam opened #36 "Not working with Android Studio 4.2 Canary - Gradle 6.6.1"
AGP = com.android.tools.build:gradle:4.2.0-alpha08

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':app'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.ProjectConfigurationException: A problem occurred configuring project ':app'.
	at org.gradle.configurati

[2020-09-02 02:01] LiuJiangshan opened #37 "[新功能建议]添加四大组件（activity、service、receiver、provider）类混淆支持"
以前饿了么的[Mess](https://github.com/eleme/Mess)支持，现在已经不再维护了

[2020-10-15 02:58] newmacwkl opened #38 "NoClassDefFoundError"
[code]

**Expected behavior**
gradlew clean bundleRelease

**Info (please complete the following information):**
 - Device: [Windows]
 - OS: [10]
 - AabResGuard  version [0.1.7]
 - Android studio version: [Android Studio 4.1]
 - AGP version: [com.android.tools.build:gradle:4.0.1]
 - Gradle version: [gradle-6.1.1]

[2020-10-26 02:34] QiAnXinCodeSafe opened #40 "Unreleased Resource: Files"
https://github.com/bytedance/AabResGuard/blob/4e902042a3282f42a9b89e0446222a7b275a23ec/core/src/main/java/com/bytedance/android/aabresguard/bundle/AppBundleAnalyzer.java#L29

The program can potentially fail to release a file handle.

[2020-11-20 01:50] ZimmerZhou opened #41 "[CRASH]whiteList添加了"*.R.string.google_app_id"之后app启动就会crash"
whiteList添加了"*.R.string.google_app_id"这一条之后，release版本启动就会crash，去掉就OK
配置如下：
aabResGuard {
    whiteList = [ // 白名单规则
                  "*.R.string.google_app_id",
    ]
    obfuscatedBundleFileName = "duplicated-app.aab" // 混淆后的文件名称，必须以 `.aab` 结尾
    mergeDuplicatedRes = true // 是否允许去除重复资源
    enableFilterFiles = false // 是否允许过滤文件
    filterList = [ // 文件过滤规则
//                   "*/arm64-v8a/*",
/

[2020-11-24 12:48] picky82 opened #42 "[Gradle issue]"
I get this error:
Unable to find method 'com.android.build.gradle.AppPlugin.getVariantManager()Lcom/android/build/gradle/internal/VariantManager;'
com.android.build.gradle.AppPlugin.getVariantManager()Lcom/android/build/gradle/internal/VariantManager;

A problem occurred configuring project ':app'.
Failed to notify project evaluation listener.
com.android.build.gradle.AppPlugin.getVariantManager()

[2020-11-29 09:46] saleho27 commented on #28
What gradle version currently works well with AabResguard? Should I downgrade the gradle?

[2020-12-05 23:46] alma359 opened #43 "[Command Line not working]"
**Describe the bug**
Trying to run the command line version with default config results in an Error.

**Log:**
java -jar AabResGuard-0.1.7.jar obfuscate-bundle --bundle=app-release.aab --output=obfuscated.aab --config=config.xml
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by shadow.bytedance.com.google.protobuf.UnsafeUtil (file:/app/AabResGuard-0

[2021-01-28 07:36] QiAnXinCodeSafe opened #44 "Path Manipulation: Zip Entry Overwrite"
https://github.com/bytedance/AabResGuard/blob/4e902042a3282f42a9b89e0446222a7b275a23ec/core/src/main/java/com/bytedance/android/aabresguard/utils/FileOperation.java#L72

Path Manipulation: ZIP Entry Overwrite errors occur when a ZIP file is opened and expanded without checking the file path of the ZIP entry.Allowing user input to control the targetDir could allow an attacker to overwrite files on

[2021-01-28 07:43] QiAnXinCodeSafe opened #45 "Unreleased Resource: Files"
https://github.com/bytedance/AabResGuard/blob/4e902042a3282f42a9b89e0446222a7b275a23ec/core/src/main/java/com/bytedance/android/aabresguard/bundle/AppBundleAnalyzer.java#L29

Unable to release ZipFile correctly.Most unreleased resource issues cause general software reliability problems.However, if an attacker can intentionally trigger a resource leak, an attacker can launch a denial-of-service att

[2021-01-28 07:49] singun-lxd commented on #28
same problem

[2021-01-28 07:50] QiAnXinCodeSafe opened #46 "Unreleased Resource: Streams"
https://github.com/bytedance/AabResGuard/blob/4e902042a3282f42a9b89e0446222a7b275a23ec/core/src/main/java/com/bytedance/android/aabresguard/utils/FileOperation.java#L72

FOS could not be released correctly.Most unreleased resource issues cause general software reliability problems.However, if an attacker can intentionally trigger a resource leak, an attacker can launch a denial-of-service attack b

[2021-02-04 09:47] singun-lxd commented on #36
Android Studio 4.2都正式了，啥时候能支持下呀

[2021-02-08 02:49] qinRight commented on #38
![image](https://user-images.githubusercontent.com/38930890/107169764-a15e0a00-69f9-11eb-9bfe-25f37aea4c16.png)
![image](https://user-images.githubusercontent.com/38930890/107170386-25fd5800-69fb-11eb-90bb-a86d41c2afbd.png)

[0.1.5, 0.1.6, 0.1.7]  AabResGuardExtension.java error

[2021-02-26 07:25] Yuongzw opened #47 "Cause: com/android/build/gradle/internal/tasks/BundleTask"
A problem occurred configuring project ':app'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.ProjectConfigurationException: A problem occurred configuring project ':app'.
	at org.gradle.configuration.project.LifecycleProjectEvaluator.wrapException(LifecycleProjectEvaluator.java:79)
	at org.gradle.configuratio

[2021-03-16 12:52] JingYeoh commented on #47
Please provide the Gradle version and AGP version.

[2021-03-19 06:43] tao111222333444 opened #50 "使用 plugin 插件打 aab 包 直接报以下错误"
使用 plugin 插件打 aab 包 直接报以下错误
FAILURE: Build failed with an exception.
* What went wrong:
Execution failed for task ':app:aabresguardFlavorRleaseRelease'.

**Info (please complete the following information):**
 - AabResGuard  version [e.g. 0.1.8]
 - Android studio version: [e.g. Android Studio 4.1.2]
 - AGP version: [e.g. com.android.tools.build:bundletool:3.2.1]
 - Gradle version: [e.g. gradle-6.1.

[2021-03-23 15:39] sebthom commented on #28
The new 0.1.8 release works. Thanks!

[2021-03-24 08:09] JingYeoh commented on #50
@tao111222333444 辛苦提供下 AGP 版本和 Gradle 版本

[2021-03-24 08:14] tao111222333444 commented on #50
com.android.tools.build:gradle:4.1.2

[2021-03-24 08:15] tao111222333444 commented on #50
https\://services.gradle.org/distributions/gradle-6.5-all.zip

[2021-03-24 08:16] tao111222333444 commented on #50
应该是混淆的时候报错的

[2021-03-24 08:18] tao111222333444 commented on #50
# compiler: R8
# compiler_version: 2.1.86
# min_api: 21
# pg_map_id: 83236b6
# common_typos_disable
$$ServiceLoaderMethods -> a:
    java.util.Iterator $load$44227() -> a
    java.util.Iterator $load$77797() -> b

[2021-03-24 08:19] tao111222333444 commented on #50
这个是我混淆的映射文件（mapping）开头的位置  这个错误直接指向这个地方

[2021-03-24 08:42] tao111222333444 commented on #50
@JingYeoh

[2021-03-30 10:33] kaedea commented on #47
+1s, with AGP ver `3.5.3`

[code]

[2021-04-01 12:59] JingYeoh commented on #50
@tao111222333444 辛苦使用 `0.1.9` 版本试试，使用相同的 gradle 和 AGP 没有复现这个问题

[2021-04-01 13:01] JingYeoh commented on #47
@kaedea @Yuongzw Please update AabResguard version to `0.1.9` and try again

[2021-04-21 09:27] amankgo commented on #32
Any update on this? How can we solve this?

[2021-04-30 01:27] martinloren opened #55 "Unexpected resource dir"
Just getting this error...

Execution failed for task ':STM32Utils-App:aabresguardDebug'.

[2021-04-30 01:28] martinloren opened #56 "Version 0.1.9 not published?"
Searched in the following locations:
       - https://jcenter.bintray.com/com/bytedance/android/aabresguard-plugin/0.1.9/aabresguard-plugin-0.1.9.pom
       - https://dl.google.com/dl/android/maven2/com/bytedance/android/aabresguard-plugin/0.1.9/aabresguard-plugin-0.1.9.pom
       - https://repo.maven.apache.org/maven2/com/bytedance/android/aabresguard-plugin/0.1.9/aabresguard-plugin-0.1.9.pom

[2021-06-18 11:15] trycatchx opened #57 "Execution failed for task ':app:aabresguardRelease'. > jarsigner failed with exit code 2:"
版本0.1.8
as 4.2.1
gradle 6.1.1

打 bundle aab 包时候签名出现问题。

[2021-06-21 07:24] JingYeoh commented on #57
@zhangchaojiong 辛苦附上更详细的堆栈信息

[2021-06-22 06:06] trycatchx commented on #57
@JingYeoh  这是我能看到的所有 log ：
[code]

[2021-06-28 07:31] LuCkY1314 commented on #47
there is no `0.1.9` version

[2021-06-29 02:07] singun-lxd commented on #56
repositories加一行
maven { url "https://artifact.bytedance.com/repository/byteX/" }

[2021-06-29 02:08] singun-lxd opened #58 "能支持混淆字典吗？"
类似proguard的obfuscationdictionary，指定被混淆的名称列表

[2021-07-01 02:29] trycatchx commented on #57
@JingYeoh 请问有无进展？

[2021-07-01 02:31] trycatchx commented on #57
估计还是与AGP兼容问题。

[2021-07-06 02:29] luckyjmcc opened #59 "请问怎样自己编译jar"

[2021-07-07 09:38] #59 closed, assigned to nobody

[2021-07-07 10:04] luckyjmcc commented on #43
java -jar AabResGuard-0.1.7.jar obfuscate-bundle --bundle=app-release.aab --output=obfuscated.aab --config=config.xml ---->output=obfuscated.aab
getOutputPath().getParent() ----> null

Solution : create a folder and change command line :
java -jar AabResGuard-0.1.7.jar obfuscate-bundle --bundle=app-release.aab --output=yourfoldername\obfuscated.aab --config=config.xml

[2021-07-08 01:53] luckyjmcc opened #60 "Command line 报错"
[BT:0.9.0] Error: Cannot run program "jarsigner.exe": CreateProcess error=2, 系统找不到指定的文件。
java.io.IOException: Cannot run program "jarsigner.exe": CreateProcess error=2, 系统找不到指定的文件。
        at java.lang.ProcessBuilder.start(Unknown Source)
        at com.bytedance.android.aabresguard.android.OpenJDKJarSigner.start(OpenJDKJarSigner.java:87)
        at com.bytedance.android.aabresguard.android.OpenJD

[2021-07-12 22:02] sebthom commented on #56
@singun-lxd that is unfortunately not working. aabresguard is not published there.

See https://artifact.bytedance.com/repository/byteX/com/bytedance/android/aabresguard-plugin/0.1.9/aabresguard-plugin-0.1.9.pom

and since jcenter.bintray.com is down it seems not to be possible anymore to get the plugin from a maven repo.

[2021-07-14 07:50] smilewaver opened #61 "[太多日志，无法控制输出]"
当白名单限制比较宽泛时，太多[whiteList] find whiteList resource之类的日志，导致构建工程慢了两分钟；

由于需要保留view id，让部分直接以资源名访问的代码正常运行，所以白名单keep了  "*.R.id.*"

[2021-07-20 03:12] QiAnXinCodeSafe opened #62 "There is a vulnerability in dom4j 2.1.0,upgrade recommended"
https://github.com/bytedance/AabResGuard/blob/e8f3a5d361ce61a3d4fa8bafb9d030bbe459c400/core/build.gradle#L42

CVE-2020-10683  CVE-2018-1000632

Recommended upgrade version：2.1.1-4

[2021-07-20 03:14] QiAnXinCodeSafe opened #63 "There is a vulnerability in protobuf-gradle-plugin:0.8.8,upgrade recommended"
https://github.com/bytedance/AabResGuard/blob/e8f3a5d361ce61a3d4fa8bafb9d030bbe459c400/core/build.gradle#L9

CVE-2015-5237

Recommended upgrade version：0.8.13

[2021-07-20 03:20] QiAnXinCodeSafe opened #64 "There is a vulnerability in commons-io:2.6,upgrade recommended"
https://github.com/bytedance/AabResGuard/blob/e8f3a5d361ce61a3d4fa8bafb9d030bbe459c400/core/build.gradle#L36

CVE-2021-29425

Recommended upgrade version：2.7

[2021-07-20 03:24] QiAnXinCodeSafe opened #65 "There is a vulnerability in guava:27.0.1-jre,upgrade recommended"
https://github.com/bytedance/AabResGuard/blob/e8f3a5d361ce61a3d4fa8bafb9d030bbe459c400/core/build.gradle#L38

CVE-2020-8908

Recommended upgrade version：30.0-jre

[2021-07-25 14:23] mosentest opened #66 "[Gradle issue]"
[code]

**Info (please complete the following information):**
 - AabResGuard  version [e.g. 0.1.0]
 - Android studio version: [e.g. Android Studio 3.5]
 - AGP version: [e.g. com.android.tools.build:bundletool:3.6.4]
 - Gradle version: [e.g. gradle-5.6.4]

**Additional context**
Add any other context about the problem here.

[2021-07-26 06:48] taugin commented on #56
I also got the same error

[2021-08-09 06:50] taugin opened #67 "com.bytedance.android:aabresguard-plugin:0.1.9未上传到仓库"
com.bytedance.android:aabresguard-plugin:0.1.9未上传到仓库，无法通过gradle拉取到。

[2021-08-11 04:27] martinloren commented on #56
Created version 0.1.10:
1) Download: https://github.com/martinloren/mvn-repo/raw/main/AabResGuard_0.1.10.zip
2) Unzip into C:\Users\(your user name)\.m2\repository\
3) You should have "com" folder under \repository\

In build.gradle file (project file):

`classpath "com.bytedance.android:aabresguard-plugin:0.1.10"`

Add:
[code]

It works with Gradle 7.0.0 and Android Studio Artic Fox.

[2021-08-13 04:10] hwangjr commented on #56
@martinloren do you modify some source for Artic Fox Version? Can you pull a request for your modification?

[2021-08-13 07:53] zhoujingheng commented on #58
支持吗

[2021-08-13 08:50] zhoujingheng opened #68 "gradle-6.7.1-all.zip 报错"
FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':app'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.ProjectConfigurationException: A problem occurred configuring project ':app'.
	at org.gradle.configuration.project.LifecycleProjectEvaluator.wrapException(L

[2021-08-14 01:25] martinloren commented on #56
Pull request sent, there is a method needed to remove since don't know how to configure the proper annotation for Gradle 7.0 compatibility.

[2021-08-14 02:07] hwangjr commented on #56
@martinloren  thanks a lot.

[2021-08-17 06:12] martinloren commented on #65
Fix in pull request...

[2021-08-20 09:07] David-Zhubrev opened #70 "[Repository] Please move dependency from JCenter() as it is deprecated"
As JCenter repository is deprecated and going to be removed soon, please move AabResGuard into another repository.
As for now, removing jcenter() from build.gradle file of any project will lead into aabresguard plugin not being resolved.

[2021-08-20 09:34] #70 closed, assigned to JingYeoh

[2021-08-20 09:34] David-Zhubrev commented on #70
Sorry, that was not the issue

[2021-09-07 03:07] hanxiaomeme commented on #32
我也遇到了类似的问题

[2021-09-07 14:43] hanxiaomeme opened #71 "Firebase推送接受消息时奔溃"
whiteList = [
            // 白名单规则
            "*.R.raw.*",
            "*.R.drawable.icon",
            "*.R.drawable.notify",

            "*.R.mipmap.ic_launcher",
            //谷歌服务
            "*.R.string.default_web_client_id",
            "*.R.string.firebase_database_url",
            "*.R.string.gcm_defaultSenderId",
            "*.R.string.google_api_key",
            "*.R.string.google_

[2021-09-11 07:53] hr1995 commented on #42
**the same issue , has any good solution?**

AndroidStudio 4.1.1
gradle plugin "com.android.tools.build:gradle:4.1.1" or 4.1.3
gradle-wrapper distributionUrl=https\://services.gradle.org/distributions/gradle-6.5-all.zip

Sync Error Detail:
-----------------------
Unable to find method 'com.android.build.gradle.AppPlugin.getVariantManager()Lcom/android/build/gradle/internal/VariantManager;'
com.and

[2021-09-11 07:54] hr1995 opened #72 "cannot work. com.android.build.gradle.AppPlugin.getVariantManager()Lcom/android/build/gradle/internal/VariantManager;"
**the same issue , has any good solution?**

AndroidStudio 4.1.1
gradle plugin "com.android.tools.build:gradle:4.1.1" or 4.1.3
gradle-wrapper distributionUrl=https\://services.gradle.org/distributions/gradle-6.5-all.zip

Sync Error Detail:
-----------------------
Unable to find method 'com.android.build.gradle.AppPlugin.getVariantManager()Lcom/android/build/gradle/internal/VariantManager;'
com.and

[2021-09-11 07:55] hr1995 commented on #67
the lower verison can you work well?

[2021-09-11 08:15] taugin commented on #67
Yes, work well for me

发自 网易邮箱大师

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2021年09月11日 15:55 |
| 收件人 | ***@***.***> |
| 抄送至 | Liuzhao ***@***.******@***.***> |
| 主题 | Re: [bytedance/AabResGuard] com.bytedance.android:aabresguard-plugin:0.1.9未上传到仓库 (#67) |

the lower verison can you work well?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on

[2021-09-11 08:22] hr1995 commented on #67
I have tried the AabResGurad from v0.1.0 to v0.1.7, but all not work .

Can you tell me your develop environment version info~ thx very much.

----these are mine-----
android studio [4.1.1]
gradle-plugin [4.1.3]
gradle-wrapper [gradle-6.5-all.zip]

this is my error while sync
https://github.com/bytedance/AabResGuard/issues/72

[2021-09-11 08:29] taugin commented on #67
my dev env:

classpath "com.bytedance.android:aabresguard-plugin:0.1.8"
apply from: 'resguard_aab.gradle'

I encapsulated the aab obfuscation script in resguard_aab.gradle, put this file under the app directory, and then apply from:'resguard_aab.gradle' by reference

At 2021-09-11 15:22:20, "hr1995" ***@***.***> wrote:

I have tried the AabResGurad from v0.1.0 to v0.1.7, but all not work .

Can yo

[2021-09-11 08:31] taugin commented on #67
repositories {
maven { url 'https://maven.aliyun.com/repository/central' }
maven { url 'https://maven.aliyun.com/repository/google' }
maven { url 'https://maven.aliyun.com/repository/gradle-plugin' }
maven { url 'https://maven.aliyun.com/repository/public' }
maven { url 'https://maven.aliyun.com/repository/releases' }
maven { url 'https://maven.aliyun.com/repository/jcenter' }
}

At 2021-09-11 15:

[2021-09-11 08:49] hr1995 commented on #67
successful, so great! It really works well.

thx very much, bro

If you have time, can I request another question. I have try aabResguardRelease command ,but the result is that the picture name in res are resguarded, but the resource name in assets  are not resguarded.

And yours result is the same?thx

[2021-09-11 08:52] taugin commented on #67
assets can not be resguard, because access assets need full name, once resguard, it will run exception

At 2021-09-11 15:49:34, "hr1995" ***@***.***> wrote:

successful, so great! It really works well.

thx very much, bro

If you have time, can I request another question. I have try aabResguardRelease command ,but the result is that the picture name in res are resguarded, but the resource name in

[2021-09-11 08:55] hr1995 commented on #67
no problem!

thx bro, you are so great!

[2021-09-11 11:29] hr1995 commented on #72
done!
----
thx the bro's solution
classpath "com.bytedance.android:aabresguard-plugin:0.1.8"
apply from: 'resguard_aab.gradle'

I encapsulated the aab obfuscation script in resguard_aab.gradle, put this file under the app directory, and then apply from:'resguard_aab.gradle' by reference

[2021-09-28 08:04] fireantzhang opened #73 "[Gradle issue] JCenter 已经停止库更新服务，是否有计划迁移到 mavenCenter 上"
**Describe the bug**
JCenter 从 2021年3月31开始停止了库更新提交的服务，所以开始有些项目计划弃用 JCenter 的引用，不过目前 AabResGuard 还是在 JCenter 上，所以是否有计划迁移到 mavenCenter 上

[2021-10-08 09:29] eiun commented on #71
我也遇到相同的问题，还有pangle资源找不到同样崩溃的

[2021-11-05 12:40] beyondckw opened #74 "AGP 7.0 什么时候适配？"
AGP 7.0 什么时候适配？

[2021-11-06 02:41] zuoyuan333 commented on #50
[BT:0.9.0] Error: Unexpected resource dir:     int compare(int,int) -> OooO00o
java.lang.IllegalArgumentException: Unexpected resource dir:     int compare(int,int) -> OooO00o
        at com.bytedance.android.aabresguard.parser.ResourcesMappingParser.parse(ResourcesMappingParser.java:45)
        at com.bytedance.android.aabresguard.executors.ResourcesObfuscator.<init>(ResourcesObfuscator.java:66)

[2021-11-06 02:41] zuoyuan333 commented on #50
0.1.9版本也有这个问题

[2021-11-06 06:03] zuoyuan333 commented on #50
@tao111222333444  遇到了同样的问题，你解决这个问题了吗

[2021-11-16 08:30] bbjsmart opened #75 "[Gradle issue] Gradle 7.0 编译问题"
Some problems were found with the configuration of task ':app:aabresguardRelease' (type 'AabResGuardTask').
  - Type 'com.bytedance.android.plugin.tasks.AabResGuardTask' property 'aabResGuard' is missing an input or output annotation.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

[2021-11-25 06:09] tao111222333444 commented on #50
换了个项目就可以了

[2021-11-25 06:09] #50 closed, assigned to JingYeoh

[2021-12-06 18:41] sebthom commented on #75
As a workaround you can use
[code]

[2021-12-06 18:41] sebthom commented on #74
As a workaround you can use
[code]

[2021-12-08 16:36] KangBulb commented on #75
Works now! Thks

[2021-12-15 01:19] eakteam commented on #75
Thank you !

[2021-12-16 08:43] momo199059 opened #76 "[Gradle issue] 对未压缩的aab没有释放句柄。导致android studio生成的aab被占用无法删除"
**Describe the bug**
第一次打包之后
对未压缩的aab没有释放句柄。
然后重新第二次打包aab的时候
导致android studio生成的aab被占用无法删除
打包aab失败

**Expected behavior**
A clear and concise description of what you expected to happen.

**Info (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - AabResGuard  version [e.g. 0.1.1]
 - Android studio version: [e.g. Android Studio 4.0 Canary 7]
 - AGP versio

[2021-12-23 03:18] hanxiaomeme opened #77 "languageWhiteList = ["ar"]并未保留阿语文件"
obfuscatedBundleFileName = "x.aab" // 混淆后的文件名称，必须以 `.aab` 结尾
    mergeDuplicatedRes = false // 是否允许去除重复资源
    enableFilterFiles = false // 是否允许过滤文件
    filterList = [ ]// 文件过滤规则
    enableFilterStrings = false // 过滤文案
    unusedStringPath = file("unused.txt").toPath() // 过滤文案列表路径 默认在mapping同目录查找
    languageWhiteList = ["en", "zh", "ar"] // 保留en,en-xx,zh,zh-xx等语言，其余均删除

[2021-12-23 03:28] hanxiaomeme commented on #77
@JingYeoh

[2021-12-23 03:42] hanxiaomeme commented on #77
是aab分包的问题 之前没有接触过 是在不好意思 关闭了

[2021-12-29 06:13] #77 closed, assigned to JingYeoh

[2022-02-17 06:41] Ayvytr commented on #68
我以为就我碰到这个问题

[2022-03-21 11:59] sdfasffsdf opened #78 "mob 分享fb 第三方接入后 挂了？"
mob 分享fb 第三方接入后 挂了？

[2022-03-25 10:17] jintaox opened #79 "Firebase已经在application中初始化，但报错Default FirebaseApp is not initialized in this process"
模板配置
aabResGuard {
    mappingFile = file("mapping.txt").toPath()
    whiteList = [
            "*.R.raw.*",
            "*.R.string.fb_panpin_id",
            "*.R.string.fb_panpin_scheme",

            "*.R.string.default_web_client_id",
            "*.R.string.firebase_database_url",
            "*.R.string.gcm_defaultSenderId",
            "*.R.string.google_api_key",
            "*.R.string.g

[2022-03-25 10:18] jintaox commented on #79
还有就是ironSource广告混淆后也不显示

[2022-03-30 02:41] sdfasffsdf opened #80 "mapping.txt这里的id值是必填吗"
![image](https://user-images.githubusercontent.com/16276222/160740133-59da9d9e-250c-4190-ba38-1a2c22780c0b.png)
mapping.txt这里的id值是必填吗

[2022-04-07 02:17] #79 closed, assigned to JingYeoh

[2022-04-07 12:21] JingYeoh commented on #80
mapping 是为了固定资源以及更快找到资源的产物，建议不要自己去修改 mapping 文件，如果有需求的话使用上次打包后生成的 mapping 文件。

**固定资源含义：**

[2022-05-26 08:24] liujingxing commented on #32
XmlClassGuard的[findConstraintReferencedIds](https://github.com/liujingxing/XmlClassGuard#1findconstraintreferencedids)任务可自动将constraint_referenced_ids属性的值添加进AabResGurad的白名单中

[2022-05-26 08:25] liujingxing commented on #37
[XmlClassGuard](https://github.com/liujingxing/XmlClassGuard)混淆任意类

[2022-05-26 10:41] LiuJiangshan commented on #37
不错，我还发现了一些类似的：[Obfuscapk](https://github.com/ClaudiuGeorgiu/Obfuscapk)、[BlackObfuscator](https://github.com/CodingGay/BlackObfuscator)，实现方式是反编译apk后二次混淆

[2022-05-26 11:16] liujingxing commented on #37
不错，有空研究下

[2022-06-02 08:17] txjfss commented on #71
我也遇到同样的问题
android.content.res.Resources$NotFoundException:
  at android.content.res.Resources.getText (Resources.java:444)
  at android.content.res.Resources.getString (Resources.java:537)
  at android.content.Context.getString (Context.java:645)
  at com.google.firebase.messaging.zzb.zzn (zzb.java:243)
  at com.google.firebase.messaging.zzb.zzf (zzb.java:7)
  at com.google.firebase.messaging.zzc.

[2022-06-02 10:39] txjfss commented on #71
我的问题解决了
在白名单里加入
 "*.R.string.*",

[2022-06-02 10:40] txjfss commented on #71
我的问题解决了
在白里加入
"*.R.string.*",

[2022-06-02 10:42] txjfss commented on #71
我的问题解决了
在白里加入
"星号.R.string. ",
"*.R.string.*",

[2022-06-02 10:42] txjfss commented on #71
我的问题解决了
在白名单里加入
"星号.R.string.星号",

[2022-06-02 10:44] txjfss commented on #71
"星号.R.string.星号",

[2022-06-15 12:09] HeroKince commented on #78
应该是资源文件没加入白名单，看一下日志加上

[2022-06-20 01:38] #78 closed, assigned to JingYeoh

[2022-07-15 10:51] moten07 opened #81 "白名单支持正则表达式吗？"
我有一个第三方库，里面有很多资源不能被混淆，但好在它存在一个特征，所有资源文件都带特定的字符，可以使用正则表达式进行匹配吗？

[2022-07-15 11:02] moten07 commented on #81
或者，白名单可以使用字典吗，资源高达2000个

[2022-07-22 11:37] koala0x commented on #75
我也遇到了这个问题, 找不到0.1.10版本, 错误提示如下:
[code]

[2022-08-12 13:50] eakteam opened #82 "Update Request"
First of all thanks for that awesome plugin.
Is there any update supporting latest Bundle Tool & AGP versions ? It seems very outdated.

Best Regards

[2022-08-12 14:15] eakteam opened #83 "Error while generating universal APK"
Trying to run bundle tool command :

`java -jar "***\bundletools\bundletool.jar" build-apks --bundle="***\app\release\app-release.aab" --output="***\my_app.apks" --ks="***r.jks" --ks-pass=pass:"***" --ks-key-alias="***" --key-pass=pass:"***" --mode=universal --local-testing
`

And it gives me error :

[code]

[2022-08-18 02:43] haruka20220 commented on #71
在白名单里加入
 "*.R.string.fcm_fallback_notification_channel_label"

[2022-09-04 04:42] RenzoSenpai13 opened #84 "[Gradle issue]"
Whever i tried to sync this is what happen i try all gradle version but its same i already tried downgrade and upgrade gradle version

 - Device: AMD 10 Pro
 - OS: Windows 10
 - AabResGuard  version 0.1.0
 - Android studio version: Android Studio Chipmunk 2021.2.1
 - AGP version: com.android.tools.build:bundletool:33.0.0
 - Gradle version: gradle-7.3.3
![Screenshot (607)](https://user-images.githu

[2022-09-14 07:43] MarkWang100 commented on #81
试下应该是支持* 通配符吧？

[2022-09-14 07:46] MarkWang100 commented on #84
maybe using new version can fix this:

classpath "com.bytedance.android:aabresguard-plugin:0.1.10"

maven { url 'https://raw.githubusercontent.com/martinloren/AabResGuard/mvn-repo' }

[2022-09-16 10:11] MrDragonForest commented on #71
白名单添加, 只保留google字样的
“*.R.string.*google*”

[2022-09-17 07:05] koala0x commented on #33
白名单一直未更新, 现在的白名单谁能上传下, 0.0

[2022-10-10 10:37] pol2edo opened #85 "请问打包时mapping报错如何解决，每次都是报在mapping文件开头，例如： Unexpected resource dir: com.airbnb.lottie.model.layer.BaseLayer com.airbnb.lottie.model.layer.BaseLayer$$InternalSyntheticLambda$0$8de8db95e85e73fa4ad208291267f612164ecfcd0bc90840382bccb86bd556c0$0.f$0 -> a[Gradle issue]"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Info (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - AabResGuard  version [e.g. 0.1.1]
 - Android studio version: [e.g. Android Studio 4.0 Canary 7]
 - AGP version: [e.g. com.android.tools

[2022-10-11 07:02] txjfss commented on #71
我觉得这样做更靠谱&nbsp; &nbsp;"*.R.string.*"

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "bytedance/AabResGuard"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年8月18日(星期四) 上午10:43
***@***.***&gt;;
***@***.*

[2022-10-11 07:41] pol2edo commented on #50
最后怎么解决啊？适用如下配置一样会报mapping的错误
distributionUrl=https\://services.gradle.org/distributions/gradle-7.0.2-bin.zip
classpath "com.android.tools.build:gradle:7.0.2"
插件版本是这个：
 classpath "com.bytedance.android:aabresguard-plugin:0.1.10"

[2022-10-11 07:42] pol2edo commented on #50
最后怎么解决啊？适用如下配置一样会报mapping的错误
distributionUrl=https\://services.gradle.org/distributions/gradle-7.0.2-bin.zip
classpath "com.android.tools.build:gradle:7.0.2"
插件版本是这个：
 classpath "com.bytedance.android:aabresguard-plugin:0.1.10"

[2022-10-11 07:42] pol2edo commented on #50
最后怎么解决啊？适用如下配置一样会报mapping的错误
distributionUrl=https\://services.gradle.org/distributions/gradle-7.0.2-bin.zip
classpath "com.android.tools.build:gradle:7.0.2"
插件版本是这个：
 classpath "com.bytedance.android:aabresguard-plugin:0.1.10"

[2022-10-11 07:43] pol2edo commented on #85
使用如下配置一样会报mapping的错误
distributionUrl=https\://services.gradle.org/distributions/gradle-7.0.2-bin.zip
classpath "com.android.tools.build:gradle:7.0.2"

插件版本是这个：
 classpath "com.bytedance.android:aabresguard-plugin:0.1.10"

[2022-10-11 07:45] pol2edo commented on #75
maven { url 'https://raw.githubusercontent.com/martinloren/AabResGuard/mvn-repo' }

[2022-10-11 07:45] pol2edo commented on #75
maven { url 'https://raw.githubusercontent.com/martinloren/AabResGuard/mvn-repo' }

[2022-10-29 11:39] evilhawk00 commented on #83
This problem happens with `com.google.android.material:material:1.7.0`, @eakteam check your Google material version. Switching back to `com.google.android.material:material:1.6.1` solve the issue.

[2022-10-30 17:00] phoenixsky commented on #74
maven repo not found yet

[2022-11-02 08:54] pol2edo commented on #85
这个问题通过在app目录下创建一个空mapping.txt解决，不能使用build/outputs/mapping目录下的mapping，遇到同样的问题的小伙伴参考一下。这么久都没回复解决方案，鄙视一下→_→

[2022-11-18 15:49] Jiang00 opened #86 "可不可以增加字段混淆功能，马甲包用的语言都一样的，字段名称一个一个改太难受了"
布局内id名称混淆也加上更牛逼了

[2022-11-27 21:50] eakteam opened #87 "Great Lib - Will be supported in future?"
This is really good plugin, but it have to many issues with new android libs and latest gradle (8.0+)...